body {
  margin: 0;
  padding: 0;
  background-image: url(light.jpeg);
  height: 100%;
  background-size: cover;
  background-position: top;
  background-blend-mode: darken;
  font-family: sans-serif;
}

.loginbox {
  width: 320px;
  height: 420px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 70px;
}

h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  color: #e0baba;
  font-size: 30px;
  font-family: cursive;
}

.loginbox p {
  margin: 0;
  color: #fff;
  margin-bottom: 10px;
  text-align: left;
  padding: 0;
  font-weight: bold;
}

.loginbox input {
  width: 100%;
  margin-bottom: 20px;

}

.loginbox input[type="submit"] {
  opacity: 0.9;
}
