body {
  background-color: #515050;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  font-family: cursive;
  color: #965b68;
}

.h1-class {
  background-color: #302f2f;
  padding: 10px;
}

.h1-class img {
  border-radius: 50px;
}

.ppt {
  margin-top: 0;
  margin-left: 250px;
  margin-right: 10px;
}

.main1 {
  background-color: grey;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -200px;
  width: 500px;
  height: 900px;
}

.main1 h2:hover {
  cursor: pointer;
}

textarea {
  width: 80%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  margin-left: 6px;
  resize: vertical;
}

#chat-app {
  width: 80px;
  height: 50px;
  display: inline-block;
  border-radius: 50px;
  background-color: #a3d063;
  border: 2px solid #a3d063;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s linear;
  text-align: center;
  float: right;
  margin-right: 50px;
  margin-top: 15px;
}

.contact {
  height: 257px;
  background-color: grey;
  color: #e5a387;
  float: right;
  top: 50%;
  left: 50%;
  margin-top: 30px;
  margin-left: 0px;
  width: 82%;
}

.wipro {
  background-color: #6b6868;
  text-align: center;
  height: 100px;
}

.wipro img {
  margin-top: 13px;
  margin-left: 320px;
  float: left;
  border-radius: 50px;
}

.wipro p {
  float: center;
  margin-right: 264px;
}

.subhas {
  background-color: #6b6868;
  width: 40%;
  float: left;
  margin-left: 30px;
  text-align: center;
}
.shailesh {
  background-color: #6b6868;
  width: 40%;
  float: right;
  margin-right: 30px;
  text-align: center;
}

.usecase {
  height: 100%;
  background-color: grey;
  color: #e5a387;
  float: right;
  top: 50%;
  left: 50%;
  margin-top: 30px;
  margin-left: 0px;
  width: 81%;
  text-align: center;
}

.usecase button {
  width: 90px;
  height: 50px;
  display: inline-block;
  border-radius: 50px;
  background-color: #a3d063;
  border: 2px solid #a3d063;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s linear;
  text-align: center;
  margin: 50px;
}
